nav {
  align-items: center;
  color: black;
  font-family: cursive;
  font-variant: small-caps;
  font-style: italic;
  font-size: 2cm;
  text-align: center;
}
.head {
  align-items: center;
  color: black;
  font-family: cursive;
  font-variant: small-caps;
  font-style: oblique;
  font-size: 1cm;
  text-align: center;
}
.buttonx {
  display: inline;
}
.button {
  background-color: cornflowerblue;
  size: 1cm;
  float: right;
}

.work {
  grid-row: 1 / span 2;
  background-image: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  border-radius: 2rem;
  overflow: scroll;
  display: block;
  opacity: 0;
  transition: 0.2s;
  max-width: 50%;
  height: 50%;
  -moz-box-align: center;
  margin: auto;
  margin-top: 3cm;
}
.workrow {
  padding: 2.25rem 4rem;
  display: block;
  align-items: center;
  border-bottom: 1px solid #eee;
  font-size: 1.7rem;
  font-weight: bolder;
}
.del {
  border: none;
  border-radius: 0.7rem;
  font-size: 1rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.del {
  box-shadow: 0 12px 16px 0 rgba(243, 32, 32, 0.945),
    0 17px 50px 0 rgb(255, 10, 10);
}
.logintext {
  transform: width 0.4s ease-in-out;
  width: 20%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  padding: 0.3rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.3s;
}

.login__btn {
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.login__btn:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}
.button2 {
  align-items: left;
  color: black;
  font-family: cursive;
  font-variant: small-caps;
  font-style: oblique;
  font-size: 1cm;
  text-align: left;
  float: left;
}
.button3:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.button3 {
  align-items: Right;
  color: black;
  font-family: cursive;
  font-variant: small-caps;
  font-style: oblique;
  font-size: 1cm;
  text-align: right;
  float: right;
}
.button2:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}
/* #hidden {
  display: none;
} */
li {
  font-size: 1cm;
}
.color {
  background-image: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  transition: 0.2s;
}
.color2 {
  background-image: linear-gradient(to right, #fd1d1d, #fcb045, #833ab4);
}
.color3 {
  background-image: linear-gradient(to right, #fcb045, #833ab4, #fd1d1d);
}
#an {
  background-image: linear-gradient(to right, #b2fefa, #0ed2f7);
}
.ankush {
  background-image: linear-gradient(to right, #b2fefa, #0ed2f7);
}
